.wrapper {
    height:  100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
        "p p h h h h h h h h"
        "p p m c c c c c c c"
        "f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}

.picture{
    grid-area: p;
}
