.wrapper {
    height:  100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px auto auto auto auto 40px;
    grid-template-areas:
        "h h h h h h h h h h"
        "p p c c c c c c c c"
        "m m c c c c c c c c"
        "m m c c c c c c c c"
        "m m c c c c c c c c"
        "f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.tinytitle {
    grid-area: m;
}

.descriptor {
    grid-area: c;
}

.footer {
    grid-area: f;
}

.picture{
    grid-area: p;
}
